/* Reset CSS */
* {
    /* margem = Externa */
    margin: 0;
    box-sizing: border-box;

}

body {

/* cor fundo */
background-color:rgb(247, 182, 227);

/* cor textos */
color:white;

}

/* seletor para os <a> */
a {

/* Propriedade e Valor */
 text-decoration: none;

color: black;

}


/* Header = Cabeçalho */
header {
 /* Row Linha Horizontal */
 display: flex;
 justify-content: space-between;
 align-items: center;
 background-color: rgb(157, 155, 158);
 /* Largura ou Comprimento */
 width: 100%;

}

/* UL sistema de lista */
.menu {
list-style: none;
/* Lista horizontal */
display: flex;
/* espaço entre TAGs*/
gap: 1rem; /* um rem */
}

/* Tag NAV */
.menu-desktop{
    display: none;
}

/* Logo */
.logo {
 width: 5rem;
}


/* Daqui pra cima Versão Mobile */


/* Responsivo */
/* Serve para as telas Maiores */

/* Telas Maiores que 768px */

@media (min-width: 768px) {
 header{
    /* espaço inteiro */
    padding: 1rem 6rem;
    justify-content: ;
    gap: ;
 }


    /* NAV */
 .menu-desktop {
    display: flex;
 }

}





